h1 {
    text-align: center;
}
body {
    background-color: #242f44;
    color: white;
}
a {
    color: limegreen;
}
thead th {
    background: #88CCF1;
    color: black;
    padding: 5px;
}
tr {
    background: #F4F7F8;
    color: black;
}
td {
    padding: 3px;
}
footer {
    text-align: center;
    }
footer h3 {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    background-color: #242f44;
}
.container {
    max-width: 940px;
    margin: 0 auto;
    height: 400px;
}