body {
  background: url("christmas.jpg");
}
nav {
  text-align: right;
  font-size: 20px;
  background: white;
  opacity: 0.80;
  height: 25px;
  padding: 10px 30px;
}
.grid {
  margin-top: 100px;
  display: column;
  text-align: center;
}
.grid-item {
  text-align: center;
  padding: 10px; 
}
#campo {
  border-radius: 7px;
  width: 350px;
  height: 30px;
  font-size: 20px;
}
#boton {
  border-radius: 10px;
  height: 35px;
  font-size: 20px;
}
#imgsrch,
#advsrch {
  padding: 30px;
}
.labels {
  font-size: 25px;
  color: darkred;
  font-family: Helvetica;
}
.title {
  color: darkred;
  font-size: 100px;
  text-align: center;
}
.subtitle {
  color: darkred;
  text-align: center;
}
#advboton {
  color: white;
  background: lightblue;
  border-radius: 10px;
  height: 35px;
  font-size: 20px;
}

