body {
    background-color: rgb(38, 35, 46);
}
section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#topbar {
    color: white;
    background: linear-gradient(rgb(98, 95, 247), rgb(103, 25, 248));
    border-radius: 7px;
    font-size: 20px;
    height: 40px;
    margin: 5px;
    padding-top: 15px;
    padding-left: 15px;
}
#name {
    display: flex;
    color: white;
    background: linear-gradient(to right, black, rgb(38, 35, 46));
    font-size: 25px;
    max-width: 100%;
    padding-left: 30px;
    padding-top: 40px;
    margin-left: 5px;
    margin-right: 5px;
    height: 80px;
}
#wall {
    border-radius: 10px;
    margin-left: 5px;
    max-width: 600px;
    height: 700px;
}
#mypic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 50%;
    width: 200px;
}
h1 {
    color: white;
    background-color: rgba(100,100,100,0.5);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
}
p {
    color: white;
    background-color: rgba(100,100,100,0.5);
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: large;
}

